<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToDoApp</title>
</head>

<body>
    <h1>ToDoApp!</h1>
    <form action="/newtask" method="POST">
        <h3>Hi <span name="login">{{login}}</span>! This is your ToDoList!</h3>
        <input type="text" placeholder="Insert new task" name="name">
        <input type="text" value="{{login}}" name="login" style="display: none">
        <button type="submit">Submit</button>
    </form>
    <span>
        {{er}}
    </span>
    <div>
        <ul>
            {{#tasks}}
                <li style="list-style-type: none">
                    <form action="/deletetask" method="POST">
                        <input type="checkbox">
                        {{.}} <button type="submit">X</button>
                        <input type="text" value="{{login}}" name="login" style="display: none"> 
                        <input type="text" value="{{.}}" name="name" style="display: none">
                    </form>
                </li>
            {{/tasks}}
        </ul>
    </div>
    <form action="/" method="GET"><button type="submit">LOG OUT</button></form>
</body>

</html>
