<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToDoApp</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="login">login</label>
        <input type="text" name="login">

        <label for="login">password</label>
        <input type="password" name="password">

        <button type="submit">Register</button>
    </form>
    <span>
        {{regEr}}
    </span>
    <a href="/">Log in</a>
</body>